<div class="top">
  <div class="navbar">
    <nav>
      <a class="homepage" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <i class="fa fa-home"></i>Home
      </a>
      <a class="creating" routerLink="/article/write" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <i class = "fa fa-pencil-square-o fa-lg"></i>Post
      </a>
      <a routerLink="/user/register" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" *ngIf = "!userService.isLogin">
        Register
      </a>
      <a routerLink="/user/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" *ngIf = "!userService.isLogin">
        Login
      </a>
      <a routerLink="/user/{{userService?.userInfo?._id}}/article" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" *ngIf = "userService.isLogin">
        {{ userService?.userInfo?.name }}
      </a>
      <a routerLink="/user/notifications/comments" class = "notifications" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" *ngIf = "userService.isLogin">
        News
        <span *ngIf = "userService.isLogin && newCommentsCount + newLikesCount + newVotesCount > 0">
          {{newCommentsCount + newLikesCount + newVotesCount}}
        </span>
      </a>
      <a routerLink="/user/settings/basics" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" *ngIf = "userService.isLogin">
        Set up
      </a>
     <a href="javascript:void(0);" (click)="signout()" *ngIf = "userService.isLogin">
       Log out
     </a>
    </nav>
    <div class="flag">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="flag">
        CBS Forum
      </a>
    </div>
</div>
