<div class="mobi-top">
  <div class="navbar">
    <a href="javascript:void(0);" class="cancel" (click)="goBack()">
      Cancel
    </a>
    <a href="javascript:void(0);" class="mobi-publish" (click)="publish()">
      Update
    </a>
  </div>
</div>
<div class="top">
  <navbar></navbar>
</div>
<div class="main">
  <div class="md-editor">
    <input type="text" class="title" placeholder="Please enter a title" [(ngModel)]="title" (ngModelChange)="valueChange()" (click)="valueChange()">
    <div *ngIf="errorMsg1" class="warning">{{errorMsg1}}</div>
    <smd-editor (smdChange)="smdChange($event)" (click)="valueChange()"></smd-editor>
    <div *ngIf="errorMsg2" class="warning">{{errorMsg2}}</div>
    <div *ngIf="publishResult" class="publishResult">
      {{ alert?.msg }}
    </div>
    <div class="publish">
      <button class="sumbit" (click)="publish()">Post</button>
      <i class="fa fa-paper-plane"></i>
    </div>
  </div>
</div>
